<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="default.aspx" />
        <add value="Default.asp" />
        <add value="Default.htm" />
        <add value="Default.php" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="index.shtm" />
        <add value="index.shtml" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Detailed" />
        <handlers>
            <add name="php-Aqueduct" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe|-d open_basedir=D:\Aqueduct\wwwroot\" resourceType="Either" requireAccess="Script" />
        </handlers>
  </system.webServer>
</configuration>

