html,body{
	margin:0;
	padding-bottom:50px;
	font-family:Arial,Helvetica,sans-serif;
}

#pageTitle{
	font-family:Verdana, Geneva, sans-serif;
	margin-left:30px;
	font-size:30px;
}

#secure{
	margin-left: 50px;
}
